# 禁止执行 PHP 文件，防止上传恶意脚本
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# 禁止执行 PHP5 文件
<FilesMatch "\.php5$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# 禁止执行 PHT 文件
<FilesMatch "\.pht$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# 禁止执行 PHP3/4 文件
<FilesMatch "\.(php3|php4)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# 禁止目录浏览
Options -Indexes
